<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.benzfungus.forum.dao.UserDao">

    <insert id="insert" parameterType="cn.benzfungus.forum.domain.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO `user`(username, password, type, locked, credit, last_visit, last_ip)
		VALUE
		(#{username},#{password},#{type},#{locked},#{credit},#{lastVisit},#{lastIp});
	</insert>
    <select id="getAll" resultType="cn.benzfungus.forum.domain.User">
		SELECT * FROM user;
	</select>
	<select id="getById" resultType="cn.benzfungus.forum.domain.User">
		SELECT * FROM user WHERE id = #{id};
	</select>
	<select id="getByName" resultType="cn.benzfungus.forum.domain.User">
		SELECT * FROM user WHERE username = #{username};
	</select>
	<delete id="deleteById" parameterType="java.lang.Long">
	  	DELETE FROM user WHERE id = #{id}
	</delete>

	<update id="update" parameterType="cn.benzfungus.forum.domain.User">
		update user
		<set>
			<if test="username != null">username=#{username},</if>
			<if test="password != null">password=#{password},</if>
			<if test="type != null">type=#{type},</if>
			<if test="locked != null">locked=#{locked},</if>
			<if test="credit != null">credit=#{credit},</if>
			<if test="lastVisit != null">last_visit=#{lastVisit},</if>
			<if test="lastIp != null">last_ip=#{lastIp}</if>
		</set>
		WHERE id=#{id}
	</update>

</mapper>